/* ROOT TAGS */
:root {
	--orange-dark: #E48B00;
	--blue-dark: #3166A0;
	--blue-light: #4F95E1;
	--grey: #656565;
}

* { box-sizing: border-box; }

body {
	color: #656565;
	background-color: #f6f6f6;
	margin: 0;
	font-family: 'Assistant', sans-serif;
}

/* LISTS */
ul { padding: 0; list-style: none; margin: 0; }

/* HEADERS */
h1, h2, h3, h4, h5 , h6 {
	font-family: 'Assistant', sans-serif;
  color: #303030;
  margin: 0 0 20px;
  padding: 0;
  font-weight: 600;
  line-height: 1.1;
}

h1 { font-size: 40px; }
h2 { font-size: 34px; }
h3 { font-size: 30px; }
h4 { font-size: 22px; }

/* BUTTONS */
button { font-family: 'Assistant', sans-serif; }

/* FORMS */
input {
	font-family: 'Assistant', sans-serif;
	padding: 5px;
	border: none;
}

/* LINKS */
a { text-decoration: none; }

/* PARAGRAPHS */
p { margin: 0; padding: 0; }

/* HEADER */
header { background-color: white; }

/* FOOTER */
footer {
	background-color: var(--blue-dark);
	text-align: center;
	color: white;
	padding: 15px 0;
}
footer .top {
	display: flex;
	text-align: left;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 15px;
}
footer .top > div { display: inline-block; width: 22%; }
footer .contact img { width: 17.5px; height: 17.5px; margin-right: 5px; }
footer .contact p { display: flex; align-items: center; }
footer .newsletter p { margin-bottom: 10px; }
footer a { text-decoration: underline; }
footer h4 { margin-bottom: 10px; }
footer h4, footer a { color: inherit; }
