/* ROOT TAGS */
:root {
	--orange-dark: #E48B00;
	--blue-dark: #3166A0;
	--blue-light: #4F95E1;
	--grey: #656565;
}

* { box-sizing: border-box; }

body {
	color: #656565;
	background-color: #f6f6f6;
	margin: 0;
	font-family: 'Assistant', sans-serif;
}

/* BLOCK QUOTES */
blockquote {
	margin: 0;
	margin-bottom: 20px;
}

blockquote cite { display: inline-block; margin-top: 5px; }

/* LISTS */
ul { padding: 0; list-style: none; margin: 0; }

/* HEADERS */
h1, h2, h3, h4, h5 , h6 {
	font-family: 'Assistant', sans-serif;
  color: #303030;
  margin: 0 0 20px;
  padding: 0;
  font-weight: 600;
  line-height: 1.1;
}

h1 { font-size: 40px; }
h2 { font-size: 34px; }
h3 { font-size: 30px; }
h4 { font-size: 22px; }

/* BUTTONS */
button {
	font-family: 'Assistant', sans-serif;
	border: none;
	background-color: white;
	color: var(--grey);
}
button:hover { cursor: pointer; }

/* FORMS */
input {
	font-family: 'Assistant', sans-serif;
	padding: 5px;
	border: none;
}

/* LINKS */
a { text-decoration: none; }

/* PARAGRAPHS */
p { margin: 0; padding: 0; }

/* HEADER */
header { background-color: white; position: relative; }

/* FOOTER */
footer {
	background-color: var(--blue-dark);
	text-align: center;
	color: white;
	padding: 30px 0;
}
footer a { text-decoration: underline; }
footer h4 { margin-bottom: 10px; }
footer h4, footer a { color: inherit; }
footer .top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	text-align: left;
	padding-bottom: 15px;
}
footer .contact img { width: 17.5px; height: 17.5px; margin-right: 5px; }
footer .contact p { display: flex; align-items: center; }
footer .newsletter p { margin-bottom: 10px; }
footer .newsletter button { padding: 2.5px; }

@media only screen and (max-width: 1080px) {
	h1 { font-size: 38px; }
	h2 { font-size: 32px; }
	h3 { font-size: 28px; }
	h4 { font-size: 20px; }
}

@media only screen and (max-width: 950px) {
	h1 { font-size: 34px; }
	h3 { font-size: 24px; }

	footer { padding: 20px 0; }
}

@media only screen and (max-width: 825px) {
	footer .newsletter {
		grid-area: newsletter;
		display: flex;
		flex-direction: column;
		width: 60%;
	}
	footer .book { grid-area: book; width: 90%; }
	footer .newsletter, footer .book { text-align: center; margin: 0 auto; }
	footer .contact { grid-area: contact; }
	footer .explore { grid-area: explore; }
	footer .top {
		grid-row-gap: 30px;
		grid-column-gap: 20px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'explore contact'
												 'book book'
												 'newsletter newsletter'
	}
	footer .newsletter button { width: 35%; align-self: center; margin-top: 10px; }
	footer .top h4 { margin-bottom: 5px; }
	footer .contact img { display: none; }
}

@media only screen and (max-width: 700px) {
	h1 { font-size: 30px; }
	h2 { font-size: 28px; }
	h3 { font-size: 24px; }
	h4 { font-size: 18px; }
}

@media only screen and (max-width: 550px) {
	h1 { font-size: 28px; }
	h2 { font-size: 26px; }
	h3 { font-size: 22px; }
	h4 { font-size: 16px; }
	p { font-size: 0.9em; }
}

@media only screen and (max-width: 440px) {
	footer .book { width: 100%; }
	footer .newsletter { width: 80%; }
}
