.navigation_bar {
	display: flex;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}
.navigation_bar .btn a { padding: 10px 25px; }

.sitenav { width: 80%; padding: 0 5px; font-size: 20px; }
.sitenav li { text-align: center; }
.sitenav a, .mobile-menu a { text-decoration: none; color: var(--grey); display: inline-block; }

.menu { display: flex; }
.menu > li {
	margin: 18px 3.5%;
	border-bottom: 2px solid rgba(0,0,0,0);
	position: relative;
	top: 10px;
}
.menu > li:hover { border-color: var(--blue-light); }
.menu > li > a { padding: 0 40px 15px 40px; }
.menu > li:hover .sub-menu { display: inline-block; }

.menu .sub-menu {
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 43px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	width: 100%;
}
.menu .sub-menu a { padding: 10px 15px; }
.menu .sub-menu li:hover { background-color: rgba(0,0,0,0.05); }

.mobile-sitenav {
	font-size: 22px;
	padding: 20px 25px;
	width: 400px;
	position: absolute;
	right: -400px;
	top: 0;
	background-color: white;
	z-index: 1;
	transition: right 350ms;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.mobile-sitenav.show { right: 0; }
.mobile-sitenav > button {
	position: absolute;
	right: 25px;
	border:none;
	background-color: inherit;
	font-size: 1em;
}
.mobile-menu .sub-menu { display: none; }
.mobile-menu > li { padding: 10px 0; }
.hamburger {
	width: 30px;
	border: none;
	background-color: white;
	padding: 0;
	display: none;
}
.hamburger hr { border-color: var(--blue-dark); background-color: var(--blue-dark); height: 3.5px; }

@media only screen and (max-width: 1370px) {
	.navigation_bar .btn a { padding: 7.5px 15px; }
	.menu > li { margin: 18px 1%; }
}

@media only screen and (max-width: 1080px) {
	.navigation_bar img { width: 130px; }
	.navigation_bar { justify-content: space-between; }
	.sitenav, .navigation_bar .btn { display: none; }
	.hamburger { display: inline-block; }
}

@media only screen and (max-width: 950px) {

}
