.drop-box {
  width: 80%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px 15px;
  margin-bottom: 20px;
}
.drop-box:hover { cursor: pointer; }
.drop-box h4 {
  font-weight: normal;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-box h4 span {
  background-image: url("../icons/arrow.svg");
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position: center center;
  transform: rotate(0deg);
  transition: transform 300ms;
}
.drop-box .body { max-height: 600px; overflow: hidden; transition: max-height 500ms; }
.drop-box .body p:first-child { padding-top: 20px; }
.drop-box .body p { padding-bottom: 20px; }
.drop-box.hidden .body { max-height: 0; }
.drop-box.hidden h4 span { transform: rotate(180deg); }

@media only screen and (max-width: 700px) {
  .drop-box { width: 100%; }
}
