.drop-box {
  width: 75%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px 15px;
  margin-bottom: 20px;
}
.drop-box:hover { cursor: pointer; }
.drop-box h4 { font-weight: normal; margin: 0; }
.drop-box h4 span {
  background-image: url("../icons/arrow.svg");
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position: center center;
  float: right;
  position: relative;
  top: 2px;
  transform: rotate(0deg);
  transition: transform 300ms;
}
.drop-box .body { max-height: 600px; overflow: hidden; transition: max-height 500ms; }
.drop-box .body p:first-child { padding-top: 20px; }
.drop-box .body p { padding-bottom: 10px; }
.drop-box.hidden .body { max-height: 0; }
.drop-box.hidden h4 span { transform: rotate(180deg); }
